.cmp-adaptiveform-button {
  position: relative;
  border: none;
  margin: $space-s 0;
  @include container;

  &__widget:not(.reset .cmp-adaptiveform-button__widget) {
    @include primary-button;
  } 

  @include description;
  &__shortdescription, &__longdescription{
    margin-block-start: 8px;
  }
  &__questionmark{
    @media (max-width: 640px) {
      inset-block-start: -20px;
    }
  }
  @media (max-width: 640px) {
    margin-block-start: 32px;
  }
}

.submit {
  border-radius: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  padding: $space-m 0;
  z-index: 12;
}

.reset {
  .cmp-adaptiveform-button {
    &__widget {
      @include secondary-button;
      height: $button-height;
    }
  }
}