/* ===============Panel Container================== */
.cmp-container {
  position: relative;
  display: flex;
  flex-direction: column;

  &[data-cmp-is="adaptiveFormPanel"] {
    @include tab-panel;
    margin: 0 0 $space-l 0;
  }

  &__label-container {
    margin-block-end: $space-s;
  }

  &__label {
    @include panel-label;
  }

  @include description;
}

.panelcontainer:last-child>[data-cmp-is="adaptiveFormPanel"] {
  margin-block-end: 0;
}